rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow a user to read and write only their own favorites documents
    match /users/{userId}/favorites/{favoriteId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
